.companyBtnDiv {
  display: grid;
  gap: 4%;
  grid-template-columns: 1fr 1fr;
}

.companyGrid {
  display: grid;
  padding: 1% 0;
  font-size: 1.3rem;
  grid-template-columns: 70% auto;
}

#totalCompanyNum {
  padding: 2% 0;
}

.containerTitle {
  font-weight: 200;
}

#companyUl {
  margin: 5% 0;
  padding: 4%;
}

.permissionAddDiv {
  margin-bottom: 5%;
}

#addPermissionBtn {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 2%;
}

.subTitle {
  font-weight: 200;
  border-bottom: 1px solid var(--med-grey);
  padding-bottom: 2%;
}