:root {
  --tag-bgd-color: var(--light-grey);
  --delete-note-color: var(--med-grey);
  --filter-hover-font-color: var(--yellow);
}

#addEditForm {
  margin: 0 auto;
}

.titleDiv {
  margin: 0;
}

/* function header */

.funcHeader {
  grid-template-columns: 11% 11% 11% auto;
  grid-template-areas: "total sort filter btns";
}

.totalDiv {
  grid-area: total;
}

.sortDiv {
  grid-area: sort;
}

.filterDiv {
  grid-area: filter;
}

.total {
  font-size: 1.2rem;
  line-height: 2.2;
}

.totalSpan {
  margin-left: 4%;
}

.fa-arrow-down-a-z, .fa-filter {
  margin-right: 8%;
}

.sortDiv:hover, .filterDiv:hover {
  cursor: pointer;
}

.sortDiv p, .filterDiv p {
  font-size: 1.2rem;
  line-height: 2.2;
}

.fa-sort-down {
  font-size: 1.6rem;
  color: var(--font-grey-color);
  margin-left: 7%;
}

.sortFilterDivContainer {
  position: relative;
}

.sortByUl {
  padding: 2%;
}

.filterUlDiv {
  padding: 4% 6%;
}

.sortByUl, .filterUlDiv {
  position: absolute;
  display: none;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 4;
}

.openSortByUl, .openFilterUl {
  display: block;
}

.ulTitle {
  margin-bottom: 6%;
  font-weight: 400;
  border-bottom: 1px solid var(--font-grey-color);
  padding-bottom: 5%;
}

.filterByUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-bottom: 5%;
}

.sortByUl li, .filterByUl li {
  font-size: 1.1rem;
  margin-bottom: 5%;
  padding-bottom: 2%;
  border-bottom: 1px solid transparent;
}

.sortByUl li:hover, .filterByUl li:hover {
  cursor: pointer;
  color: var(--filter-hover-font-color);
  border-bottom: 1px solid var(--filter-hover-font-color);
}

.btnDiv {
  grid-area: btns;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  justify-content: end;
}

/* customer list */

#customerUl {
  margin-bottom: 7%;
}

.customerLi {
  display: grid;
  grid-template-columns: 13% 15% 12% 19% 15% auto;
  grid-template-areas: "name email phone address1 tag btns";
  grid-gap: 2%;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--font-grey-color);
  padding: 2% 0;
  font-weight: 200;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
  font-size: 1rem;
}

.phone {
  grid-area: phone;
}

.address1 {
  grid-area: address1;
  line-height: 1.6;
  font-size: 1rem;
}

.tagContainer {
  grid-area: tag;
}

.btns {
  grid-area: btns;
  text-align: right;
}

.tag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
}

.tagSpan {
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--tag-bgd-color);
  padding: 2% 4%;
  border-radius: 5px;
}

.tag .moreThree {
  display: none;
}

.visibleTag .moreThree {
  display: block;
}

.moreDots {
  background-color: transparent;
}

.moreDots:hover {
  cursor: pointer;
}

.hideMoreDots {
  display: none;
}

.header {
  display: grid;
  gap: 2%;
  font-size: 1.2rem;
  grid-template-columns: 13% 15% 12% 19% 15% auto;
  padding: 1%;
  color: var(--font-grey-color);
  border-bottom: 1px solid var(--font-grey-color);
  border-top: 1px solid var(--font-grey-color);
  margin-bottom: 3%;
}

.btn {
  font-size: 1.5rem;
}

.detailEditBtn {
  background-color: transparent;
}

.deleteNotes {
  font-weight: 100;
  font-size: 0.9rem;
  display: block;
  margin-top: 3%;
  line-height: 1.6;
  color: var(--delete-note-color);
}

.editAddBtns {
  font-size: 1.3rem;
  padding: 3% 0;
}

.devBtn {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 2%;
}

@media only screen and (max-width: 1300px) {
  .header {
    display: none;
  }

  .name {
    margin-bottom: 5%;
  }

  .address1 {
    display: none;
  }

  .customerLi {
    grid-template-columns: 20% auto 20% 15%;
    grid-template-areas:
    "name email tag btns"
    "phone email tag btns";
    font-size: 1.2rem;
    padding: 2% 1%;
  }

  .customerLi span {
    margin-bottom: 7%;
  }

  .btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2% 0;
    gap: 2%;
  }

  .btn {
    padding: 3% 0;
  }
}

@media only screen and (max-width: 900px) {
  .funcHeader {
    grid-template-columns: 30% auto 10% 10%;
    grid-template-areas: "total btns sort filter";
    margin: 9% 0;
  }

  .sortText, .filterText, .fa-sort-down {
    display: none;
  }

  .tagContainer {
    display: none;
  }
  .customerLi {
    grid-template-columns: 30% 30% auto;
    grid-template-areas:
    "name phone btns"
    "email email email";
  }

  .btnDiv {
    display: block;
  }

  .addCustomerBtn {
    line-height: 2.2;
    padding: 2% 5%;
  }

  #exportCustomerBtn {
    display: none;
  }
}