/* .customerForm {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas: 
  "label input";
}

.labels {
  grid-area: label;
}

.inputs {
  grid-area: input;
}

.addressDiv {
  margin: 3% 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
  "addressTitle addressTitle"
  "street street"
  "city province";
}

.addressTitleDiv {
  grid-area: addressTitle;
}

.streetDiv {
  grid-area: street;
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-areas: 
  "label input";
}

.cityDiv {
  grid-area: city;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-areas: 
  "label input";
}

.provinceDiv {
  grid-area: province;
}

.editAddBtnsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  margin-top: 8%;
} */
