<div class="navWrapper">
  <nav>
    <div id="logoDiv" class="logoDiv">
      <img id="logo" class="logo" src="/images/logo.svg" alt="logo">
    </div>
    <div id="leftNav" class="leftNav">
      <ul id="leftNavUl" class="navUl">
        <!-- data will here from nav.js -->
      </ul>
    </div>
  </nav>
  <nav class="rightNav">
    <div class="rightIconDiv">
      <span id="rightNavIcon" class="rightIcon">&#187;</span>
    </div>
    <ul id="rightNavUl" class="rightNavUl">
      <!-- data will here from nav.js -->
    </ul>
  </nav>
</div>
