<div class="paginationDiv">
  <div class="pageDiv">
    <div class="prevDiv pageIconDiv">
      <i class="fa-solid fa-chevron-left"></i>
      <p class="pageFont prevP">Prev</p>
    </div>
    <div class="lines"></div>
    <div class="pageNumContainer">
        <!-- insert from util/pagination.js -->
    </div>
    <div class="lines"></div>
    <div class="nextDiv pageIconDiv">
      <p class="pageFont nextP">Next</p>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
</div>