<%- include('components/head')%>
<%- include('components/nav')%>

<div class="wrapper">
  <div class="confirmDiv">
    <!-- confirmation box will insert from js -->
  </div>
  <div class="companyAddDiv">
    <h1 class="title">Add a new company</h1>
    <div class="form">
      <div class="inputDiv">
        <label class="labels" for="businessName">Business Name</label><br/>
        <input class="inputs" type="text" id="businessName" name="businessName"><br>
      </div>
      <div class="inputDiv">
        <label class="labels" for="address">Business Address</label><br/>
        <input class="inputs" type="text" id="address" name="address"><br>
      </div>
      <div class="inputDiv">
        <label class="labels" for="phone">Phone</label><br/>
        <input class="inputs" type="text" id="phone" name="phone"><br>
      </div>
      <div class="inputDiv">
        <label class="labels" for="tags">Avaiable tags, add more by comma: (e.g. local, important)</label><br/>
        <input class="inputs" type="text" id="tags" name="tags"><br>
      </div>
      <div class="btnsDiv">
        <div>
          <button id="addCompanyBtn" class="submit openConfirmBtns">Add Company</button>
        </div>
      </div>
    </div>
  </div>
  <div class="companyAddDiv">
    <h2 class="title">Add a new user to the company</h2>
    <div class="inputDiv">
      <label class="labels" for="company">Select a company</label><br/>
      <select id="companySelect">
        <!-- data will be here from company-add.js -->
      </select>
    </div>
    <div>
      <%- include('components/add-user-form')%>
      <div>
        <button id="addUserAdmin" class="openConfirmBtns submit">ADD USER</button>
      </div>
    </div>
    <div class="backDiv">
      <a href="/dev" class="backBtn">BACK</a>
    </div>
  </div>
</div>

<%- include('components/footer') %>