<%- include('components/head')%>
<%- include('components/nav')%>

<div class="wrapper">
  <div class="titleDiv">
    <h1 class="title">CONFIGURATION</h1>
    <hr/>
  </div>

</div>

<%- include('components/footer') %>