<%- include('partials/head')%>
<%- include('partials/nav')%>

<div class="wrapper">
  <div id="msgDiv">
    <!-- message will be here from customer-add.js -->
  </div>
  <div class="confirmDiv">
    <!-- confirmation box will insert from js -->
  </div>
  <div id="addEditForm">
    <!-- add form will be here fro, customer.js -->
  </div>
  <div data-id="<%= companyId %>" id="container">
    <div class="btnDiv">
      <button id="moveToAddCustomerPage" class="addUserBtn addBtn">Add a customer</button>
    </div>
    <div class="searchDiv">
      <input type="text" id="searchInput" class="search" placeholder="search customer e.g. name, email or address"/>
      <button class="searchBtn">Search</button>
    </div>
    <div id="customerDataDiv">
      <div class="totalDiv">
        <p class="total">Total: <span class="customerTotal totalSpan"></span></p>
        <p class="total lockP">Locked Total: <span class="lockedTotalSpan"></span></p>
        <p class="total lockP">Unlocked Total: <span class="unlockedTotalSpan"></span></p>
      </div>
      <div class="filterDiv">
        <h2 class="filterTitle">Quick Filter</h2>
        <button class="filterBtn lockedFilterBtn">Locked</button>
        <button class="filterBtn unlockedFilterBtn">Unlocked</button>
      </div>
      <h1>All Customers</h1>
      <hr />
      <div class="header">
        <span>Name</span>
        <span>Email</span>
        <span>Phone</span>
        <span>Address</span>
        <span></span>
      </div>
      <ul id="customerUl">
        <!-- data will be here from customer.js -->
      </ul>
    </div>
  </div>
</div>

<%- include('partials/footer') %>