<%- include('components/head')%>
<%- include('components/nav')%>

<div class="wrapper">
  <div class="titleDiv">
    <h1 class="title">DEVELOPER USE ONLY PAGE</h1>
    <hr/>
  </div>
  <div class="companyBtnDiv">
    <a href="/dev/company-add" class="addCompanyBtn addBtn">Add Company</a>
    <a href="/dev/tag-management" class="tagBtn addBtn">Tag Management</a>
  </div>
  <div class="searchDiv">
    <input id="companySearchInput" type="text" class="search" placeholder="search company"/>
    <button id="companySearch" class="searchBtn">Search</button>
  </div>
  <div>
    <p id="totalCompanyNum" class="totalP"></p>
    <h1>All Companies</h1>
    <hr />
    <ul id="companyUl">
      <!-- data will be here from company.js -->
    </ul>
  </div>
</div>

<%- include('components/footer') %>