<%- include('partials/head')%>
<%- include('partials/nav')%>

<div class="wrapper">
  <div class="titleDiv">
    <h1 class="title">SCHEDULE</h1>
    <hr/>
  </div>

</div>

<%- include('partials/footer') %>