<%- include('components/head')%>
<%- include('components/nav')%>

<div class="wrapper">
  <div class="confirmDiv">
    <!-- confirmation box will insert from js -->
  </div>
  <div>
    <div>
      <%- include('partials/add-user-form')%>
    </div>
    <div>
      <div>
        <button id="addUser" class="openConfirmBtns submit">ADD USER</button>
      </div>
      <div class="backDiv">
        <a href="/user" class="backBtn">BACK</a>
      </div>
    </div>
  </div>
</div>

<%- include('components/footer') %>