<%- include('partials/head')%>

<div class="wrapper">
  <div id="addUserConfirm" class="confirmWrapperDiv">
    <%- include('partials/confirm')%>
  </div>
  <div>
    <div>
      <%- include('partials/add-user-form')%>
    </div>
    <div>
      <div>
        <button id="addUser" class="openConfirmBtns submit">ADD USER</button>
      </div>
      <div class="backDiv">
        <a href="/user" class="backBtn">BACK</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>