.totalDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 5% 0;
}

.btnDiv {
  margin-bottom: 4%;
}

.total {
  font-size: 1.2rem;
}

.lockP {
  color: var(--font-grey-color);
}

.filterDiv {
  margin: 4% 0;
  padding: 2% 1%;
  border: 1px solid var(--font-darker-color);
  border-radius: 10px;
}

.filterTitle {
  margin-bottom: 2%;
}

.filterBtn {
  font-size: 1.1rem;
  padding: 1% 2%;
  background-color: var(--box3-color);
}

.filterBtn:hover {
  background-color: var(--box3-color-darker);
}

.customerLi {
  display: grid;
  grid-template-columns: 15% 22% 15% 22% auto;
  grid-template-areas: "name email phone address1 btns";
  grid-gap: 2%;
  font-size: 1.2rem;
  padding: 2% 1%;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.address1 {
  grid-area: address1;
}

.btns {
  grid-area: btns;
  text-align: right;
}

.header {
  display: grid;
  gap: 2%;
  background-color: var(--box1-color);
  font-size: 1.2rem;
  grid-template-columns: 15% 22% 15% 22% auto;
  padding: 2% 1%;
  color: var(--font-lighter-color);
}

.cusBtn {
  border-radius: 10px;
  text-align: center;
}

.detail {
  background-color: var(--detail-color);
}

.detail:hover {
  background-color: var(--detail-color-hover);
}

.edit {
  color: var(--font-lighter-color);
}

.addForm {
  background-color: var(--box2-color);
}

.editForm {
  background-color: var(--box1-color);
}

.formDiv {
  position: absolute;
  top: 10%;
  width: 76%;
  padding: 5% 3%;
  border-radius: 10px;
  color: var(--font-lighter-color);
}

.editAddBtnsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  margin-top: 8%;
}

.editAddBtns {
  font-size: 1.3rem;
  padding: 3% 0;
}

.devBtn {
  background-color: black;
  color: white;
  padding: 5%;
}

@media only screen and (max-width: 1300px) {
  .header {
    display: none;
  }

  .email, .address1 {
    display: none;
  }

  .customerLi {
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "name btns"
    "phone btns";
    font-size: 1.2rem;
    padding: 2% 1%;
    margin-bottom: 3%;
  }

  .customerLi span {
    margin-bottom: 1%;
  }

  .btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2% 0;
    gap: 2%;
  }

  .btn {
    padding: 3% 0;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
}