:root {
  --bgd-color: #e9e9e9;
  --font-lighter-color: #ececec;
  --font-darker-color: #171717;
  --font-grey-color: #8f8e8e;
  --font-light-grey-color: #cdcdcd;
  --white: #faf9f9;
  --black: #1a1a1a;
  --light-grey: #eae8e8;
  --med-grey: #474646;
  --dark-grey: #505050;
  --red: #ff5959;
  --green: #477a2d;
  --dark-green: #2c4d1b;
  --yellow: #dfdf77;
  --title-font-color: var(--font-darker-color);
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --success-color: var(--green);
  --fail-color: var(--red-color);
  --page-arrow-color: var(--med-grey);
  --func-header-color: rgb(202, 221, 202);
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --edit-color: rgb(100, 100, 100);
  --delete-color: var(--dark-grey);
  --detail-color: rgb(153, 203, 153);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

html, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-darker-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 10px;
  color: var(--font-lighter-color);
}

button:hover {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

.titleDiv {
  margin-bottom: 3%;
}

.title {
  color: var(--title-font-color);
  border-bottom: 1px solid var(--font-darker-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2%;
}

.backBtn {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--font-darker-color);
}

.btn {
  background-color: transparent;
  font-size: 1.1rem;
  padding: 2% 4%;
}

.notes {
  font-size: 0.8rem;
  color: var(--font-grey-color);
  line-height: 1.6;
  margin: 1% 0;
}

/* non login register pages */
.wrapper {
  padding: 3% 4%;
}

/* login register pages */
.loginRegiContainer {
  color: var(--font-lighter-color);
  height: 100vh;
  padding-top: 6%;
  margin: 0 auto;
  text-align: center;
}

.loginRegiDiv {
  width: 30%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5% 2% 3% 2%;
  margin: 0 auto;
}

.loginRegiLogoDiv {
  width: 50%;
  margin: 5% auto;
}

.loginRegiForm {
  padding: 3% 0;
}


.loginRegiBtn {
  font-size: 1.5rem;
  padding: 2% 7%;
  width: 95%;
  margin-top: 8%;
}

.search {
  font-size: 1.2rem;
  padding: 1%;
  box-shadow: var(--box-shadow);
  border: none;
}

.funcHeader {
  box-shadow: var(--box-shadow);
  margin: 2% 0;
  display: grid;
  padding: 1%;
  border-radius: 5px;
}

.funcBtn {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1% 2%;
  border-radius: 5px;
  background-color: var(--white-color);
  color: var(--font-grey-color);
  box-shadow: var(--box-shadow);
}

.funcBtn:hover {
  color: var(--med-grey-color);
}

.totalP {
  font-size: 1.3rem;
  margin-bottom: 2%;
}

.el-hide {
  display: block;
}

.permissionsDiv {
  margin: 2% 0;
}

.permissionTag {
  font-size: 0.9rem;
  background-color: var(--permission-bgd);
  padding: 1%;
  display: inline-block;
  margin-bottom: 1%;
  border-radius: 10px;
  color: var(--permission-color);
}

.msgDiv {
  text-align: center;
  background-color: var(--white);
  color: var(--font-darker-color);
}

.box {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.detail {
  color: var(--detail-color);
}

.edit {
  color: var(--edit-color);
}

.delete {
  color: var(--delete-color);
}

@media only screen and (max-width: 1100px) {
  .loginRegiDiv {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    margin: 5%;
  }

  .loginRegiDiv {
    width: 80%;
  }
}