:root {
  --bgd-color: #e9e9e9;
  --font-lighter-color: #ececec;
  --font-darker-color: #171717;
  --font-grey-color: #8f8e8e;
  --nav-bgd-color: #173617;
  --nav-bgd-hover: #0a180a;
  --nav-mobile-bgd: #92b492;
  --nav-top-bgd: rgb(13, 132, 86);
  --login-bgd: rgb(1, 1, 74);
  --register-bgd: rgb(8, 27, 8);
  --login-btn-hover: rgb(218, 255, 218);
  --register-btn: rgb(221, 206, 113);
  --register-btn-hover: rgb(156, 167, 39);
  --login-btn: rgb(66, 133, 66);
  --login-btn-hover: rgb(29, 63, 29);
  --page-btn-color: rgb(62, 75, 62);
  --page-btn-color-hover: rgb(25, 63, 25);
  --edit-color: rgb(103, 103, 99);
  --delete-color: rgb(216, 101, 101);
  --edit-color-hover: rgb(83, 83, 52);
  --delete-color-hover: rgb(161, 56, 56);
  --permission-color: rgb(73, 78, 209);
  --permission-bgd: rgb(220, 246, 154);
  --google-color: rgb(155, 20, 20);
  --google-color-hover: rgb(90, 21, 21);
  --submit-color: rgb(71, 122, 45);
  --cancel-color: rgb(188, 188, 53);
  --submit-color-hover: rgb(42, 72, 27);
  --cancel-color-hover: rgb(109, 109, 31);
  --search-color: rgb(147, 53, 53);
  --search-color-hover: rgb(113, 42, 42);
  --box1-color: rgb(167, 167, 98);
  --box2-color: rgb(24, 94, 70);
  --box3-color: rgb(24, 58, 94);
  --box3-color-darker: rgb(11, 28, 46);
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --success-color: rgb(107, 169, 63);
  --fail-color: rgb(152, 34, 34);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-darker-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 10px;
  color: var(--font-lighter-color);
}

button:hover {
  cursor: pointer;
}

.title {
  font-size: 1.8rem;
  padding: 2% 0;
}

.cancel {
  background-color: var(--cancel-color);
}

.cancel:hover {
  background-color: var(--cancel-color-hover);
}

.backBtn {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--font-darker-color);
}


.btn {
  font-size: 1.1rem;
  padding: 2% 4%;
}

.edit {
  background-color: var(--edit-color);
}

.edit:hover {
  background-color: var(--edit-color-hover);
}

.lock {
  background-color: var(--delete-color);
}

.lock:hover {
  background-color: var(--delete-color-hover);
}

.submit {
  padding: 1% 3%;
  font-size: 1rem;
  background-color: var(--submit-color);
}

.submit:hover {
  background-color: var(--submit-color-hover);
}

/* non login register pages */
.wrapper {
  padding: 6% 2% 0 13%;
}

.msgDiv {
  text-align: center;
  padding: 3% 4%;
  margin: 0 auto 5% auto;
  width: 60%;
  color: var(--font-lighter-color);
  border-radius: 10px;
}

.success {
  background-color: var(--success-color);
}

.fail {
  background-color: var(--fail-color);
}

/* login register pages */
.loginRegiContainer {
  color: var(--font-lighter-color);
  height: 100vh;
  padding-top: 6%;
  margin: 0 auto;
  text-align: center;
}

.loginRegiDiv {
  width: 30%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5% 2% 3% 2%;
  margin: 0 auto;
}

.loginRegiLogoDiv {
  width: 50%;
  margin: 5% auto;
}

.loginRegiForm {
  padding: 3% 0;
}

.inputDiv {
  margin: 1% 0;
}

.labels {
  font-size: 1.4rem;
}

.inputs {
  margin: 1% 0;
  width: 90%;
  padding: 5px;
  font-size: 1.2rem;
}

.loginRegiBtn {
  font-size: 1.5rem;
  padding: 2% 7%;
  width: 95%;
  margin-top: 8%;
}

.btnDiv {
  margin-bottom: 4%;
}

.searchDiv {
  display: grid;
  gap: 5%;
  grid-template-columns: 80% auto;
  margin: 2% 0;
}

.search {
  font-size: 1.2rem;
  width: 100%;
  padding: 1%;
  border-radius: 5px;
}

.searchBtn {
  background-color: var(--search-color);
  color: var(--font-lighter-color);
  border-radius: 10px;
}

.searchBtn:hover {
  background-color: var(--search-color-hover);
}

.addBtn {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2% 3%;
  background-color: var(--page-btn-color);
  color: var(--font-lighter-color);
  border-radius: 10px;
}

.addBtn:hover {
  background-color: var(--page-btn-color-hover);
}

.totalP {
  font-size: 1.3rem;
  margin-bottom: 2%;
}

/* confirm */

.confirmBox {
  text-align: center;
  background-color: var(--bgd-color);
  position: fixed;
  top: 12%;
  left: 27%;
  border: 1px solid var(--font-darker-color);
  padding: 5% 0;
  border-radius: 10px;
  width: 50%;
}

.confirmTitle {
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.confirmBtn {
  padding: 1% 5%;
  margin: 0 2%;
  font-size: 1.2rem;
}

.el-hide {
  display: block;
}

.permissionsDiv {
  margin: 2% 0;
}

.permissionTag {
  font-size: 0.9rem;
  background-color: var(--permission-bgd);
  padding: 1%;
  display: inline-block;
  margin-bottom: 1%;
  border-radius: 10px;
  color: var(--permission-color);
}

@media only screen and (max-width: 1100px) {
  .loginRegiDiv {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    margin: 5%;
  }

  .loginRegiDiv {
    width: 80%;
  }
}