.indexWrapper {
  padding: 0 12%;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2%;
}

.dataDiv {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
}

.box {
  color: var(--font-lighter-color);
  text-align: center;
  padding: 6% 0;
  margin-bottom: 2%;
}

.boxTitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.num {
  font-size: 2.7rem;
}

.box1 {
  background-color: var(--box1-color);
}

.box2 {
  color: var(--font-darker-color);
  box-shadow: var(--shadow);
}

.links {
  text-transform: uppercase;
  color: var(--font-lighter-color);
  padding: 2%;
}

.dashboardUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "cus  sale schedule"
  "user config  logout";
  gap: 5%;
  margin-top: 6%;
}

.dashLi {
  background-color: var(--box3-color);
  text-align: center;
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 3%;
}

.dashLi:hover {
  background-color: var(--box3-color-darker);
}

.navIcons {
  margin-bottom: 5%;
}

.dashboard, .company {
  display: none;
}

.customer {
  grid-area: cus;
}

.sale {
  grid-area: sale;
}

.schedule {
  grid-area: schedule;
}

.users {
  grid-area: user;
}

.configuration {
  grid-area: config;
}

.logout {
  grid-area: logout;
}

@media only screen and (max-width: 950px) {
  .dataDiv {
    display: none;
  }

  .dashboardUl {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "cus  sale"
    "schedule user"
    "config  logout";
  }
}

@media only screen and (max-width: 650px) {
  .dashboardUl {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cus"
    "sale"
    "schedule"
    "user"
    "config"
    "logout";
  }

}