#loginContainer {
  background-color: var(--login-bgd);
}

#loginBtn {
  background-color: var(--login-btn);
  color: var(--font-lighter-color);
}

#loginBtn:hover {
  background-color: var(--login-btn-hover);
}

#googleLoginBtn {
  margin: 5% auto 0 auto;
  width: 30%;
  background-color: var(--google-color);
  border-radius: 10px;
}

#googleLoginBtn:hover {
  cursor: pointer;
  background-color: var(--google-color-hover);
}

#googleLoginBtn a {
  color: var(--font-lighter-color);
}