#mobileIcon {
  display: none;
}

.leftNav {
  background-color: var(--nav-bgd-color);
  padding: 19% 3%;
  position: absolute;
  height: 100vh;
  text-align: center;
}

.logoDiv {
  position: absolute;
  top: 10%;
  z-index: 2;
}

.logo {
  width: 20%;
  padding: 5%;
}

.logo:hover {
  cursor: pointer;
}

.navLi {
  padding: 2%;
  font-size: 1.4rem;
  margin-bottom: 80%;
}

.navLi:hover {
  cursor: pointer;
  background-color: var(--nav-bgd-hover);
}

.iconNames {
  display: none;
  margin-left: 5%;
  margin: 0;
}

.navLiA {
  color: var(--font-lighter-color);
}

.rightNav {
  background-color: var(--nav-top-bgd);
  text-align: right;
}

.rightIcon {
  display: inline-block;
  color: var(--font-lighter-color);
  font-size: 4rem;
  padding-right: 2%;
}

.rightIcon:hover {
  cursor: pointer;
  transform: translateY(25px) rotate(90deg);
}

.rightNavUl {
  display: none;
  padding-top: 3%;
}

.rightNavLi:hover {
  background-color: var(--nav-bgd-hover);
}

.rightNavLiA {
  display: grid;
  grid-template-columns: 80% auto;
  gap: 3%;
  padding: 3% 2%;
  font-size: 1.3rem;
  color: var(--font-lighter-color);
}

.rightNavNames {
  text-align: left;
}

/* override css from js */

.el-hide {
  display: block;
}

.displayLeftNav {
  width: 25%;
}

.displayLeftNav .navLiA {
  padding-left: 1%;
  display: grid;
  grid-template-columns: 20% auto;
  text-align: left;
}

.displayLeftNav .navLi {
  margin-bottom: 8.7%;
}

@media only screen and (max-width: 900px) {

  .nav {
    height: 40px;
    position: inherit;
    width: 100%;
    padding: 4% 0 8% 0;
  }

  .logoGrid {
    display: grid;
    grid-template-columns: 90% auto;
  }

  .logoDiv {
    text-align: left;
    margin-bottom: 0;
  }
  
  .logo {
    width: 15%;
  }

  #mobileIcon {
    display: block;
  }

  #mobileIcon:hover {
    cursor: pointer;
  }

  .mobileLine {
    background-color: var(--nav-mobile-bgd);
    width: 50px;
    height: 8px;
    margin-bottom: 16%;
  }

  .navUl {
    display: none;
  }

  #navUl {
    background-color: var(--nav-bgd-color);
    width: 100%;
    position: absolute;
    padding-top: 5%;
  }

  .navLi {
    padding: 4% 2%;
  }
}
