#leftNav {
  width: 8%;
}

#logoDiv {
  text-align: center;
  margin-bottom: 45%;
}

.logo {
  width: 80%;
}

.navIcon {
  color: var(--nav-icon-color);
}

.navLi {
  font-size: 1.4rem;
}

/* left navigation */

#leftNavUl .rightNavLi {
  display: none;
}

#leftNav {
  background-color: var(--nav-bgd-color);
  position: fixed;
  height: 100vh;
  padding-top: 10%;
}

.leftNavIcon {
  text-align: center;
}

.leftNavLi {
  padding: 22% 0 22% 0;
}

.leftNavLi:hover {
  cursor: pointer;
  background-color: var(--nav-bgd-hover);
}

/* right navigation */

#rightNavUl .leftNavLi {
  display: none;
}

.rightNavIcon {
  text-align: right;
}

.rightNav {
  background-color: var(--nav-top-bgd);
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
}

.rightNavLi {
  padding: 2%;
}

.rightIcon {
  display: inline-block;
  color: var(--font-lighter-color);
  font-size: 4rem;
  padding-right: 5%;
}

.rightIcon:hover {
  cursor: pointer;
  transform: translateY(25px) rotate(90deg);
}

.rightNavUl {
  display: none;
}

.rightNavLi {
  padding-right: 5%;
}

.rightNavLi:hover {
  background-color: var(--nav-bgd-hover);
}

/* override css from js */

.el-hide {
  display: block;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}
