:root {
  --bgd-color: #e9e9e9;
  --font-light-color: #ececec;
  --font-dark-color: #171717;
  --nav-bgd-color: #173617;
  
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
