.permissionInput {
  width: 60%;
  padding: 1%;
}

#permissionAdd {
  padding: 1% 3%;
  font-size: 1.2rem;
}

.btnsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  font-size: 1.5rem;
}

#addUserBtn {
  font-size: 1.5rem;
  padding: 3% 20%;
}