#usersDataDiv {
  margin: 6% 0;
}

#usersUl {
  margin-top: 3%;
  font-size: 1.5rem;
}

.userGrid {
  border: 1px solid var(--font-darker-color);
  border-radius: 5px;
  padding: 3% 2%;
  display: grid;
  grid-template-columns: 70% auto;
  margin-bottom: 1%;
}

.name {
  margin-bottom: 2%;
}

.permissionDiv {
  margin-top: 1%;
}

.permissionTitle {
  font-size: 1.1rem;
  margin-bottom: 1%;
}

.btn {
  font-size: 1.2rem;
  color: var(--font-lighter-color);
  padding: 2% 7%;
}

.editBtn {
  background-color: var(--edit-color);
}

.editBtn:hover {
  background-color: var(--edit-color-hover);
}

.deleteBtn {
  background-color: var(--delete-color);
}

.deleteBtn:hover {
  background-color: var(--delete-color-hover);
}