:root {
  --confirm-bgd-color: var(--white);
  --submit-color: var(--green);
  --submit-color-hover: var(--dark-green);
}

.boxWrapper {
  display: flex;
  justify-content: center;
}

.confirmBox {
  text-align: center;
  background-color: var(--confirm-bgd-color);
  position: fixed;
  box-shadow: var(--box-shadow);
  padding: 5%;
  border-radius: 5px;
  width: 30%;
  z-index: 5;
}

.confirmTitle {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 5%;
}

.confirmBtn {
  padding: 1% 5%;
  margin: 0 2%;
  font-size: 1.2rem;
}

.el-hide {
  display: block;
}

.submit, .cancel {
  font-size: 1.2rem;
  padding: 2% 3%;
}

.submit {
  background-color: var(--submit-color);
}

.closeBtn {
  color: var(--font-darker-color);
  background-color: transparent;
  padding-bottom: 1%;
  border-radius: 0;
  border-bottom: 1px solid var(--font-darker-color);
}

.closeBtn:hover {
  color: var(--dark-green);
  border-bottom: 1px solid var(--dark-green);
}

.submit:hover {
  background-color: var(--submit-color-hover);
}

.cancelBtn {
  box-shadow: var(--box-shadow);
  color: var(--font-darker-color);
}

.cancelBtn:hover {
  background-color: var(--dark-grey);
  color: var(--font-light-grey-color);
}
