#container {
  max-width: 1200px;
  margin: 0 auto;
}

.dataDiv {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
  text-align: center;
  padding: 6% 0;
  margin-bottom: 2%;
}

.boxTitle {
  color: var(--font-darker-color);
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 5%;
}

.num {
  font-size: 2rem;
  font-weight: 300;
}

.chartContainer {
  margin-top: 6%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-gap: 5%;
}

.chatDiv {
  box-shadow: var(--box-shadow);
  padding: 5%;
  border-radius: 5px;
}

.subTitle {
  font-weight: 200;
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {

  .dataDiv {
    grid-template-columns: 1fr 1fr;
  }

  .chatDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {

  .dataDiv {
    grid-template-columns: 1fr;
    margin-bottom: 26%;
  }
}